.screen{
  .nctwobuttons{
    width: 100%;
    padding: 0 30px;
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    div{
      height: 34px;
      width: 34px !important;
      background: rgba(45, 45, 45, 0.4);
      border-radius: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span{
        height: 18px;
        width: 18px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      >.lampe{background-image: url('./images/lampe.png');}
      >.photo{background-image: url('./images/photo.png');}

      // div:nth-child(2){
      //   span{
      //     background-image: url('./images/photo.png') !important;
      //   }
      // }
    }
  }
}
