.screen{
  .lookscreen{
    background-image: url('../../images/fond-4.jpg');
    background-repeat: no-repeat;
    background-size: 101% 101%;
    background-position: center;
    position: absolute;
    transition: 500ms;
    z-index: 250;
    width: 100%;
    height: 100%;
  }
}
